SECRET_KEY=
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Почтовый адрес вашего личного аккаунта Google:
EMAIL=

# Укажите данные для работы ваших Python-приложений с подключёнными Google API
# Эти данные передаются платформой (Google Cloud Platform) в json-файле 
# при создании ключа доступа к вашему сервисному аккаунту
TYPE=
PROJECT_ID=
PRIVATE_KEY_ID=
PRIVATE_KEY=
CLIENT_EMAIL=
CLIENT_ID=
AUTH_URI=
TOKEN_URI=
AUTH_PROVIDER_X509_CERT_URL=
CLIENT_X509_CERT_URL=
